<!DOCTYPE html>
<html>
    <head charset="utf-8">
        <title>Cinemastar Theater</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="/css/modern.css" rel="stylesheet">
         <link href="/css/modern-responsive.css" rel="stylesheet">
         <style>
             body {
                background-image: url(/images/paper.png);
             }
             .video, .flv {
                display: none;
             }
             a {
                margin : 0px;
                padding : 0px;
             }
             .tile.image  > a > .tile-content  > img.thumb {
                 width: 320px;
                 height: 180px;
                 min-height: none;
                 max-width: none;
                 margin-left: -100px;
                 margin-top: -10px;
             }
             .page .fill {
                 border: 0px #FFF solid;
             }
             div.overlay {
                 color: #000;
             }
             div.menu {
                 font-size: 10px;
             }
             div.menu > a > div {
                 border-color: #FFF;
                 border-style: solid;
                 border-width: 0px 0px 1px 0px;
                 margin: 1px 5px;
                 padding: 2px;
                 text-shadow: 1px 1px 2px #000;
                 color: #FFF;
             }
             div.brand > div.name {
                 text-shadow: 1px 1px 2px #000;
             }
             div.tile {
                  background: -moz-linear-gradient(top, #fff, #000);
                  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
             }
             div.tile > a > div > img {
                 opacity: 0.5;
             }

             div.tile > a > div > img:hover {
                 opacity: 1;
             }
             div.maincontent{
                 background: -moz-linear-gradient(right, rgba(255,255,255,0.8), rgba(255,255,255,0.9), rgba(255,255,255,1)), url("/video/<%= @path || "" %>/background.jpg") no-repeat right top fixed;
                 background: url(/video/<%= @path || "" %>/background.jpg) no-repeat right top fixed;

             }
             div.category {
                 display: none;
             }
             div.disp0 {
                 display: block;
             }
             .page .page-header .page-header-content {
               height: 30px;
               min-height: 30px;
             }
             h1 {
               margin: 0px;
               font-size: 2em;
               line-height: 25px;
             }
             .page-content {
               margin-left: 10px;
             }
             div.content-list {
               margin-top: 50px
             }
         </style>
         <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
         <script language="javascript" src="/javascript/dropdown.js"></script>
         <script language="javascript" src="/javascript/buttonset.js"></script>
         <script language="javascript" src="/javascript/accordion.js"></script>
         <script type="text/javascript" src="/javascript/jquery.autopager-1.0.0.js"></script>
         <script type="text/javascript" src="/player/jwplayer.js"></script>
         <script type="text/javascript">jwplayer.key="bjgI1ZZJa5NJh7z6blR3lecPSg40J0mH385zeQ==";</script>
         <script language="javascript">
         $(document).ready(function(){
           $.autopager({content: '#main-content-field', insertBefore: '#insert', autoLoad: true});
         });
         </script>
    </head>
    <body>
        <div class="page">
            <div class="page-header">
                <div class="page-header-content bg-color-orangeDark">
                    <h1 class="fg-color-white">Cinemastar</h1>
                </div>
                <div class="nav-bar bg-color-orangeDark">
                    <div class="nav-bar-inner">
                        <span class="element">Menu</span>
                        <span class="divider"></span>
                        <ul class="menu">
                            <li class="driver"><a href="/">Latest</a></li>
                            <li data-role="dropdown">
                                <a href="#">Category</a>
                                <ul class="dropdown-menu">
                                    <% @menu.child do |name, path, complete| %>
                                        <li><a href="/category/<%= path %>"><%= name %></a></li>
                                    <% end %>
                                </ul>
                            </li>
                            <% @category.each do |cate| %>
                                <% break unless @menu.child? cate %>
                                <li data-role="dropdown">
                                    <a href="#"><%= cate %></a>
                                    <ul class="dropdown-menu">
                                        <% @menu.child cate do |name, path, complete| %>
                                            <li><a href="/category/<%= path %>"><%= name %></a></li>
                                        <% end %>
                                    </ul>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-region maincontent">
                <div class="page-region-content maskcontent">
                  <div class="row">
                        <form action="/search/" method="get">
                            <div class="input-control text span4">
                                <input type="text" class="with-helper" name="query" value="<%= @query %>"/>
                                <button class="btn-search"></button>
                            </div>
                        </form>
                    </div>
                    <div class="grid">
                        <div class="row">
                            <div class="page-content">
                                <div id="main-content-field">
                                    <%= yield %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="row">
                            <% if !@latest.nil? %>
                                <div class="span8">
                                    <div class="pagination">
                                        <ul>
                                          <li class="first"><a href="1?query=<%= @query %>"></a></li>
                                          <li class="prev"><a href="<%= @page.prev %>?query=<%= @query %>"></a></li>
                                            <% @page.paginate do |page| %>
                                              <li class="<%= "active" if @page.eq page %>">
                                                <a href="<%= page+1 %>?query=<%= @query %>"><%= page+1 %></a>
                                              </li>
                                            <% end %>
                                            <li class="next"><a href="<%= @page.next %>?query=<%= @query %>" rel="next"></a></li>
                                            <li class="last"><a href="<%= @page.last %>?query=<%= @query %>"></a></li>
                                        </ul>
                                    </div>
                                <div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
